.container {
    max-width: 1440px;
    background-image: url("../img/background.png");

}
.header {

}

.header-wrapper {
    
    width: 980px;
    margin: 0 auto;

}


/* Header Top */
.header-top {
    padding: 25px 0 25px 0;
    background: url("../img/header-top-border.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.logo {
   width: 13.78%;
   float: left;
   margin-right: 18px;
}

.logo-sub-heading {
    float: left;
}


.user-details {
float: right;
}

.user-details li {
    float: left;
}

.cart-img {
    width: 16px;
    float: left;
    margin-right: 10px;
}

.user-img {
    width: 16px;
    float: left;
    margin-right: 10px;
}

.dropdown {
    width: 16px;
    float: right;
    margin-left: 8px;
}



/* Header Login  for header middle part*/
.header-login {
    padding: 15px 0 15px 0;
    background: url("../img/header-top-border.png");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 980px;
    margin: auto;
    
}

.login-box {
 width: 68%;
 margin: auto;

}


/* Header Navbar for header bottom part */
.header-navbar {
    padding: 21px 0 19px 0;
}



.navbar {

}

/* image slider */
.slider {
    width: 100%;
    height: 500px;
    position: relative;
}

.slider-text-top {
    width: 40%;
    position: absolute;
    top: 54.2%;
    left: 16%;
    z-index: 10;
    padding: 21px 0 15px 25px;
}
.slider-text-bottom {
    width: 40%;
    position: absolute;
    top: 69.6%;
    left: 16%;
    z-index: 10;
    padding: 21px 0 15px 25px;
}


/* main contents */
.contents {
    width: 100%;
}



.intro {
    
    width: 980px;
    margin: auto;
    padding: 45px 0 0 0;
}

.intro-img {
    padding-left: 5%;
    width: 35%;
    float: left;
}

.intro-text {
    width: 55%;
    float: right;
}

.intro-title h2 span img {
    width: 20%;
    height: 20%;
}
.intro-text p span {
    padding-left: 8px;
    display: block;
    font-weight: bold;
}

.products {
    
    padding-top: 20px;
    width: 980px;
    margin: auto;
}

.content-title {
    background: url("../img/header-top-border.png");
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 15px 0 15px 0;
}

.products-heading {
    float: left;
    width: 70%;
}

.products-list {
    margin-top: 34px;
}


.product-item {
    float: left;
    text-align: center;
    width: 18.87%;
    background: white;
    padding: 8px 8px 8px 8px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.special-offer {
    
    width: 980px;
    margin: auto;
}

.special-offer-content {
    padding-top: 30px;
    padding-bottom: 40px;
}

.offer-box {
    width: 30%;
    float: left;
    text-align: center;
    color: #d8d8d8;
    padding: 20px 0 28px 0;
    margin-right: 25px;
}

.offer-title {
    width: 170px;
    margin: auto;
    padding-bottom: 15px;
    border-bottom: 1px dotted #cccccc;
}

.col3-section {
    
    width: 980px;
    margin: auto;
    padding: 40px 0 40px 0;
}

.section-left {
float: left;
width: 70%;
}

.blogs {
    float: left;
    width: 55%;
    /* margin-right: 35px; */
}

.blogs-title {
    background: url("../img/header-top-border.png");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 13px;
    
}

.best-seller {
    width: 40%;
    float: right;
    /* margin-right: 35px; */
}

.section-right {
    float: right;
    width: 30%;
}

.about {
    float: right;
    
}

.blogs-content {
    
}


.blog-item {
    padding: 10px 0 10px 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}


.footer-top {
    
    width: 980px;
    margin: auto;
}

.navigation {
    width: 20%;
    float: left;
}

.tweets {
    width: 30%;
    float: left;
    font-size: 13px;
}

.newsletter {
    padding-left: 20px;
    padding-right: 30px;
}

.footer-bottom {
    
    width: 980px;
    margin: auto;
}

.header-hamburger {
    display: none;
}


