


@media screen and (max-width:768px) {

    .container {
        width: 100%;
    }

    .header-wrapper {
        width: 90%;
    }
 


    .header-login {
        display: none;
    }

    .logo {
        
        /* padding-left: 5px; */
        width: 15%;
        /* margin-right: 5px; */
    }


    .logo-sub-heading h2{
        font-size: 12px;
        margin-right: 10px;
    }

    .user-details {
        float: right;
        font-size: 12px;
        /* padding-right: 20px; */
    }


    .navbar {
        font-size: 13px;
        /* padding-left: 10px; */
    }

    .search-box {
        /* display: none; */
        /* padding-right: 20px; */
    }


    .slider {
        display: none;
        width: 50%;
        height: 300px;
    }


    .slider img {
        display: none;
        width: 50%;
        height: 300px;
    }

        .slider-text-top {
        display: none;
    }
    .slider-text-bottom {
       display: none;
    }


    .intro {
        width: 70%;
    }

    .intro-img {
        padding-left: 0;
        width: 90%;
        padding-bottom: 10px;
    }

    .intro-text {
        float: left;
        width: 80%;
    }

    .products {
        width: 90%;
        padding-left: 30px;
    }

    

    .product-item {
        float: left;
        width: 40%;
        /* margin-right: 30px; */
        margin-bottom: 60px;
    }

    .content-title {
        padding-left: 20px;
        /* padding-right: 10px; */
    }

    .content-title span {
        width: 25%;
        /* font-size: 12px; */
    }

    .special-offer {
        width: 90%;
    }

    .offer-box {
        width: 50%;
        float: none;
        margin: auto;
        margin-bottom: 20px;
    }

    .section-left {
        width: 100%;
    }

    .section-right {
        width: 100%;
    }


    .blogs {
        width: 90%;
        padding-left: 30px;
    }

    .blog-item {
        padding: 20px 0 20px 0;
    }

    .blog-item p {
        text-overflow: hidden;
    }

    .best-seller {
        width: 100%;
        padding-top: 20px;
        /* margin-left: 20px; */
        
    }

    .best-seller-title {
        padding-left: 30px;
    }

    .product-item-mini {
        margin-left: 1%;
        width: 18%;
    }


    .about {
        width: 90%;
        padding-right: 20px;
    }

    .col3-section {
        width: 100%;
    }

    .footer-top {
        width: 100%;
    }

    .footer-bottom {
        width: 100%;
    }

    .navigation {
        float: left;
        width: 30%;
        padding-left: 30px;
    }

    .tweets {
        width: 80%;
        padding: 0 10px 0 30px;
    }


    .newsletter {
        width: 85%;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .about-us {
        
        font-size: 12px;
        width:60%;
        padding-left: 30px;
    }

    .round-img {
        width: 60%;
        padding-left: 30px;
    }

    .round-img li img{
        width: 5%;
    }

    .card-img {
        width: 60%;
        padding-left: 30px;
    }

    .card-img li img{
        width: 5%;
    }

    .footer-bottom {
        width: 90%;
    }

    .footer-bottom li {
        display: block;
        width: 45%;
    }

    .footer-bottom li:first-child {
        padding-left: 20px;
    }





}















/* Mobile view Media Query */
@media only screen  and (max-width:480px) {

    .slider {
        display: none;
        width: 80%;
        height: 200px;
    }

    .container {
        width: 100%;
    }
   

    .slider img {
        width: 80%;
        height: 200px;
    }
    .header-wrapper {
        width: 90%;
    }

    .header-top {
        width: 90%;
    }


    .header-login {
        width: 90%;
        display: none;
    }

    .logo {
        padding-left: 20px;
        width: 30%;
    }
    .user-details {
        display: none;
    }


    .header-navbar {
        display: none;
    }

    .header-hamburger {
        display: block;
        float: right;
        width: 10%;
        padding: 0 15px 10px 0;
    }

    .contents {
        width: 90%;
    }

    .slider-text-top {
        display: none;
    }
    .slider-text-bottom {
       display: none;
    }


    .intro {
        width: 90%;
    }

    .intro-img {
        margin: auto;
        /* padding-left: 0; */
        width: 90%;
        padding-bottom: 10px;
    }

    .intro-text {
        margin: auto;
        width: 90%;
    }

    .products {
        width: 90%;
    }

    .product-item {
        float: none;
        width: 60%;
        margin: auto;
        margin-bottom: 60px;
    }

    .content-title {
        padding-left: 30px;
        padding-right: 10px;
    }

    .content-title span {
        width: 25%;
        font-size: 12px;
    }

    .special-offer {
        width: 90%;
    }

    .offer-box {
        width: 80%;
        float: none;
        margin: auto;
        margin-bottom: 20px;
    }

    .col3-section {
        width: 90%;
    }

    .section-left {
        width: 90%;
    }

    .section-right {
        width: 90%;
    }

    .blogs {
        width: 90%;
        padding-left: 30px;
    }

    .blog-item {
        padding: 20px 0 20px 0;
    }

    .blog-item p {
        text-overflow: hidden;
    }

    .best-seller {
        width: 100%;
        padding-top: 20px;
    }

    .best-seller-title {
        padding-left: 30px;
    }

    .product-item-mini {
        float: left;
        /* margin-left: 5%; */
        width: 30%;
    }


    .about {
        width: 90%;
        padding-right: 20px;
    }



    .footer-top {
        width: 90%;
    }

    .footer-bottom {
        width: 90%;
    }

    .navigation {
        width: 90%;
        padding-left: 30px;
    }

    .tweets {
        width: 90%;
        padding: 0 10px 0 30px;
    }


    .newsletter {
        width: 85%;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .about-us {
        width: 90%;
        padding-left: 30px;
    }

    .round-img {
        width: 90%;
        padding-left: 30px;
    }

    .round-img li img{
        width: 5%;
    }

    .card-img {
        width: 90%;
        padding-left: 30px;
    }

    .card-img li img{
        width: 5%;
    }


    .footer-bottom {
        width: 90%;
    }

    .footer-bottom li {
        display: block;
        width: 45%;
    }

    .footer-bottom li:first-child {
        padding-left: 20px;
    }



}





