.container {
    color: #696969;
}

/* Header Top */
.logo-sub-heading {
    font-size: 10px;
    color: #e4a5b1;
}



.user-details li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 16px;
    background-image: url("../img/user-details-border-right.png");
    background-position: right;
    background-repeat: no-repeat;
}

.user-details li:first-child {
    padding-left: 20px;
    background-image: url("../img/user-details-cart.png"), url("../img/user-details-border-right.png");
    background-position: left, right;;
    background-repeat: no-repeat, no-repeat;
}

.user-details li:first-child:hover {
    padding-left: 20px;
    background-image: url("../img/user-details-cart-active.png"), url("../img/user-details-border-right.png");

}

.user-details li a {
    float: left;
    text-decoration: none;
    /* color: #696969; */
}


.user-details li:last-child {
    padding-left: 20px;
    background-image: url("../img/user-details-user.png"), url("../img/user-details-dropdown.png");
    background-position: left, right;;
    background-repeat: no-repeat, no-repeat;
}

.user-details li:last-child:hover {
    background-image: url("../img/user-details-user-active.png"), url("../img/user-details-dropdown-active.png");
    background-position: left, right;;
    background-repeat: no-repeat, no-repeat;
}

.user-details li a{
    color: #696969;
}

.user-details li a:hover{
    color: #cc003e;
}

/* Header Login */
.header-login {

}

.login-text {
    padding: 10px 0 8px 11px;
    float: left;
    font-weight: bold;
}

.login-form input {
    margin-left: 13px;
    border: 1px solid #d8d8d8;
    padding: 10px 0 8px 11px;
    width: 17.35%;
}

.login-form button {
    border: none;
    margin-left: 13px;
    background: #cc003e;
    color: #ecd3d8;
    padding: 10px 18px 8px 11px;
    cursor: pointer;
}


.navbar {

}

.navbar li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
}

.navbar li.more-menu {
    background: url("../img/navbar-plus.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
}

.navbar li.more-menu:hover {
    background: url("../img/navbar-plus-active.png");
    background-repeat: no-repeat;
    background-position: right;

}

.navbar a {
    text-decoration: none;
    color: #696969;
}

.navbar a:hover {
    color: #cc003e;
}

.search-box {
    float: right;
}

.search-box input {
    margin-left: 13px;
    border: 1px solid #d8d8d8;
    padding: 10px 0 8px 35px;
    width: 135px;
    background: url("../img/search-icon.png") white;
    background-repeat: no-repeat;
    background-position: 10px;
}


.slider-text-top {
    background: #cc003e;
    color: white;
}

.slider-text-bottom {
    background: #cc003e;
    color: white;
}

.slider-text-bottom p {
    text-overflow: ellipsis;
}

.slider-text-bottom p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    padding-right: 10px;
    background-image: url("../img/Readmore-plus.png") ;
    background-repeat: no-repeat;
    background-position: right;
}

.intro-text {
    text-align: center;
}

.intro-text h2 {
    color: #e4a5b1;
    font-weight: normal;
}

.products-title h2 {
    font-weight: normal;
}

.products-title span {
    width: 13%;
    float: right;
    padding-left: 20px;
    background: url("../img/products-viewMore.png");
    background-repeat: no-repeat;
    background-position: left;
}

.sale {
    background: url("../img/product-sale.png");
    background-repeat: no-repeat;
    z-index: 10;
}


.product-item h3{
    font-size: 12px;
    font-weight: normal;
    color: #7d7d7d;
}

.product-item span {
    color: red;
}

.product-item span.sale-price {
    color: #7d7d7d;
    font-size: 12px;
    text-decoration: line-through;
}

