.container {
    color: #696969;
}

/* Header Top */
.logo-sub-heading {
    font-size: 10px;
    color: #e4a5b1;
}



.user-details li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 16px;
    background-image: url("../img/user-details-border-right.png");
    background-position: right;
    background-repeat: no-repeat;
}

.user-details li a {
    float: left;
    text-decoration: none;
    /* color: #696969; */
}


.user-details li:last-child {
    background: none;
    padding-right: 0;
}


.user-details li.active a{
    color: #cc003e;
}

/* Header Login */
.header-login {

}

.login-text {
    padding: 10px 0 8px 11px;
    float: left;
    font-weight: bold;
}

.login-form input {
    margin-left: 13px;
    border: 1px solid #d8d8d8;
    padding: 10px 0 8px 11px;
    width: 17.35%;
}

.login-form button {
    border: none;
    margin-left: 13px;
    background: #cc003e;
    color: #ecd3d8;
    padding: 10px 18px 8px 11px;
    cursor: pointer;
}


.navbar {

}

.navbar li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
}

.navbar li.more-menu {
    background: url("../img/navbar-plus.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;

}

.navbar a {
    text-decoration: none;
    color: #696969;
}

.search-box {
    float: right;
}

.search-box input {
    margin-left: 13px;
    border: 1px solid #d8d8d8;
    padding: 10px 0 8px 35px;
    width: 135px;
    background: url("../img/search-icon.png") white;
    background-repeat: no-repeat;
    background-position: 10px;
}
